{% extends "base.html" %}
{% block content %}
<div class="steps"><b>Step 6 of 6:</b> Declaration</div>
<h2>Declaration</h2>
<p>I hereby declare that the information furnished above is true to the best of my
knowledge and belief. I understand that furnishing false information is punishable
under applicable law and will result in cancellation of pension.</p>
<form method="post">
  <p><input type="checkbox" required> I agree to the above declaration.</p>
  <p><button class="btn" type="submit">Submit Application</button></p>
</form>
{% endblock %}
